/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/10/2016, 07:33:56
    Author     : helis
*/
row,
.column {
    box-sizing: border-box;
}
.row:before,
.row:after {
    content: " ";
    display: table;
}

.column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
}

.box-branco {
    background-color: whitesmoke;
}

.quadrado{
    height: 20px;
    width: 20px;
    margin: 12px 12px;
}
.qu-laranja{
    background-color: orange;
}
.qu-verde {
    background-color: green;
}
#header {
    background-color: #0a5517;
    background-image: radial-gradient(ellipse at center center , #19882c 1%, #025310 100%);
    color: #fff;
    padding: 32px 0 0;
    height: 100px;
}
#legend {
  background: white;
  padding: 10px;
  top: 5px !important;
  right: 5px !important;
}
.display-flex {
  display: flex;
}
.legend-box {
  width: 10px;
  height: 10px;
  border: 1px solid;
  margin-top: 2px;
  margin-right: 5px;
}
#barra-identidade {
    height: 25px;
}

#logo {
    float: left;
    padding: 0;
    width: 70%;
}


#portal-logo, #portal-title {
    color: #fff !important;
}

#portal-logo {
    display: block;
    margin: 0;
    width: 100%;
}
a#portal-logo:link, a:visited {
	text-decoration: none
	}
a#portal-logo:hover {
	text-decoration: none; 
	color: #f00
	}
a#portal-logo:active {
	text-decoration: none
	}

#logo span, #barra-ifba span {
    display: block;
    line-height: 1em;
    position: absolute;
}
#portal-title-1,#barra-ifba span, .legend {
    top: 12px;
}

#logo span {
    display: block;
    line-height: 1em;
    position: absolute;
}

#portal-logo, #portal-title {
    color: #fff !important;
}
#portal-title {
    color: #fff;
    font-family: "open_sansextrabold",Arial,Helvetica,sans-serif;
    font-size: 3.35em;
    font-weight: normal;
    line-height: 1em;
    margin: 30px 0 46px;
}

#logo span, #barra-ifba span {
    display: block;
    line-height: 1em;
    position: absolute;
}
#portal-description {
    bottom: 24px;
    font-size: 1.2em;
    text-transform: uppercase;
}

#main {
    background: #fff none repeat scroll 0 0;
    font-size: 1.3em;
    margin: 0 auto;
    max-width: 960px;
    padding: 0 0 1.5em;
}

div.row {
    display: block;
    float: left;
    position: relative;
    width: 100%;
}
* {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

div.cell {
    float: left;
    left: 100%;
    position: relative;
}

#portal-column-one {
    margin-left: -100%;
    width: 15.625%;
}

div.position-1\:4 {
    margin-left: -79.755%;
}
div.width-3\:4 {
    width: 79.75%;
}